
* {
  -fx-font-family: "Segoe UI";
  -fx-font-size: 12px;

}

.root {
  -fx-background-image: url("/com/xsergiodm/image/Rectangle.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;

}


#frame {


  #panel {
    -fx-background-image: url("/com/xsergiodm/image/Frame2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;

    #iconUser {
      -fx-image: url("/com/xsergiodm/icon/MaleUser.png");
    }
    #tfUsuario{
      -mfx-main: -mfx-green;
      -fx-background-color: rgba(255, 255, 255, 0.76);
      -fx-background-radius: 20;
      -fx-border-color: #0034ff;
      -fx-border-radius: 20;
      -fx-prompt-text-fill: white;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }
    #tpContrasenia{
      -mfx-main: -mfx-blue;
      -fx-background-color: rgba(255, 255, 255, 0.76);
      -fx-background-radius: 20;
      -fx-border-color: #0034ff;
      -fx-border-radius: 20;
      -fx-prompt-text-fill: white;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }
  }
}
