
* {
  -fx-font-family: "Readex Pro";
}

.root {
  -fx-background-image: url("/com/xsergiodm/image/Rectangle.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;

}


#frame {
  #panel {
    -fx-background-image: url("/com/xsergiodm/image/Frame2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;

    #iconUser {
      -fx-image: url("/com/xsergiodm/icon/MaleUser.png");
      -fx-background-size: 190px, 190px;
      -fx-background-repeat: no-repeat;
      -fx-background-position: center;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }

    #tfUsuario {
      -mfx-main: -mfx-blue;
      -fx-background-color: rgba(255, 255, 255, 0.76);
      -fx-background-radius: 20;
      -fx-border-color: #0034ff;
      -fx-border-radius: 20;
      -fx-prompt-text-fill: white;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }

    #tpContrasenia {
      -mfx-main: -mfx-blue;
      -fx-background-color: rgba(255, 255, 255, 0.76);
      -fx-background-radius: 20;
      -fx-border-color: #0034ff;
      -fx-border-radius: 20;
      -fx-prompt-text-fill: white;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }

    #btIniciarSesion {
      -fx-background-color: rgba(17, 26, 100, 0.5);
      -fx-background-radius: 30;
      -fx-border-radius: 30;
      -fx-text-fill: white;
      -fx-font-weight: bold;
      -fx-font-size: 16px;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }

    #btIniciarSesion:hover {
      -fx-background-color: rgba(17, 26, 100, 1);
    }

    #labelCopy {
      -fx-text-fill: white;
      -fx-font-size: 12px;
      -fx-font-weight: bold;
    }
  }
}
