* {
  -fx-font-family: "Readex Pro";
}

.root {
  -fx-background-image: url("/com/xsergiodm/image/ManagerFrame.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
}

#frame {
  #panel {
    -fx-background-image: url("/com/xsergiodm/image/ManagerPanel.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
  }

  #btInfo {
    .image-view{
      -fx-image: url("/com/xsergiodm/icon/Info.png");
    }
    -fx-background-color: transparent;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
  }
  #btInfo:hover {
    -fx-background-color: rgba(9, 38, 94, 0.3);
  }
  #btInfo:pressed {
    -fx-background-color: rgba(9, 38, 94, 0.5);
  }

  #menuBar {
    -fx-background-image: url("/com/xsergiodm/image/ManagerMenuBar.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 8, 0.2, 0, 3);

    .image-view {
      -fx-alignment: center;
    }
    .label{
      -fx-text-fill: white;
      -fx-font-weight: bold;
      -fx-font-size: 16px;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    }

    #iconUsuario {
      -fx-image: url("/com/xsergiodm/icon/UserMale.png");
    }

    #iconProducto {
      -fx-image: url("/com/xsergiodm/icon/Ingredients.png");
    }

    #iconCategoria {
      -fx-image: url("/com/xsergiodm/icon/SellStock.png");
    }

    #iconFactura {
      -fx-image: url("/com/xsergiodm/icon/Bill.png");
    }
    #iconCliente{
      -fx-image: url("/com/xsergiodm/icon/Conference.png");
    }
    #iconHistorial{
      -fx-image: url("/com/xsergiodm/icon/Accounting.png");
    }
    #iconReporte{
      -fx-image: url("/com/xsergiodm/icon/InvestmentPortfolio.png");
    }
    #iconDesconectar{
      -fx-image: url("/com/xsergiodm/icon/Cancel.png");
    }
  }
}